<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div :style="{fontSize: postFontSize+'rem'}">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"
                v-on:enchange-text="postFontSize += 0.1"></blog-post>
        </div>
        <div>
            <parent inline-template>
                <div class="parent">
                    <div class="alert">{{messageDeleted}}</div>
                    <input v-model='message'>
                    <button @click='send()'>Send</button>
                    <children :messages='messages' v-on:notify-delete="listenDeleteMessage"></children>
                </div>

            </parent>
        </div>
       
    </div>
</body>
<script>
    Vue.component('blog-post', {
        props: ['title'],
        template: `
        <div>
                <h3>{{ title}}</h3>
                <button v-on:click="$emit('enchange-text')">
                Phóng to
                </button>
                </div>
        </div>
            `
    });

    Vue.component('children', {
        props: {
            messages:{
                type: Array,
                default: () => {return[]}
            }
        },
        data: function() {
            return {
                childrenMessage: this.messages
            }
        },
        methods: {
            deleteMessage(index){
                let mess=this.childrenMessage[index].content;
                this.childrenMessage.splice(index,1),
                this.$emit('notify-delete',mess)
            },
        },
        template: `
        <ul>
            <li v-for='(message, index) in childrenMessage'>{{message.content}}<a href="#" @click='deleteMessage(index)'>Delete</a></li>
        </ul>
            `
    });

    
    Vue.component('parent', {
       data: function() {
            return {
                message:'',
                messages:[],
                messageDeleted:''
            }
       },
       methods: {
            send() {
                this.messages.push({content: this.message}),
                this.message = ''
                // console.log(this.message)
            },
            listenDeleteMessage(message) {
                this.messageDeleted=message + ' vừa bị xóa!'
            }
       },
    });
    


    var app = new Vue({
        el: '#app',
        data: {
            posts: [
                { id: 1, title: 'Giới thiệu về Vue', content: 'Vjp' },
                { id: 2, title: 'Các khái niệm trong Vue', content: 'Vjp' },
                { id: 3, title: 'Vue căn bản và nâng cao', content: 'Vjp' }
            ],
            postFontSize: 1,
            searchText: 1
        }
    });
</script>

</html>